html {font-size: 15px;}
.radio-inline {
    margin-right: 20px;
    float: left;
    width: auto !important;
    padding-left: 0;
}
.radio-inline label {
    width: calc(100% - 10px) !important;
}
.error {
    font-size: 13px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fredux-radio-inline {
    display: block !important;
    overflow: hidden;
}
.col-md-6-custom {
  padding-right: 0 !important;
}
.add-blog-categories .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.input-secure-code {
    background-color: #FFFFFF!important;
}
.div-top-center {
    margin: 3% auto;
    background-color: #FFFFFF;
    width: 75%;
}

.ul-announcement {
    list-style-type: none;
    padding: 0;
}

.ul-announcement li {
    margin: .8rem 0;
}

.text-red {
    color: #ff1123;
}

.btn-announcement {
    padding: .5rem 1.5rem;
    border-radius: .5rem !important;
}
