html {
  font-size: 15px;
}
.radio-inline {
  margin-right: 20px;
  float: left;
  width: auto !important;
  padding-left: 0;
}
.radio-inline label {
  width: calc(100% - 10px) !important;
}
.error {
  font-size: 13px;
  line-height: 12px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fredux-radio-inline {
  display: block !important;
  overflow: hidden;
}
.col-md-6-custom {
  padding-right: 0 !important;
}
.add-blog-categories .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Custom From Bootstrap */
.form-inline .form-group, .form-inline .btn {
	margin-right: 5px
}

/* .form-inline .form-group:last-of-type {
	margin-right: 0px
} */

/* Custom React Select */
.form-group .css-2b097c-container:focus {
	outline: none;
}
.form-group .css-1pahdxg-control, .form-group .css-1pahdxg-control:hover {
	border-color: #93a1bb;
	box-shadow: none;
}
.form-group .css-yk16xz-control {
	border: 1px solid #c2cad8;
	min-height: 32px;
}

.form-group .css-1g48xl4-IndicatorsContainer {
	height: 32px;
}

.hide-multi .css-1rhbuit-multiValue .css-1alnv5e {
	display: none;
}

/* Custom React Multi Select */
.multi-select .dropdown {
	z-index: 10;
}
/* Custom React Datepicker */
.react-datepicker-wrapper {
	height: 34px;
}
.react-datepicker__input-container {
	height: 30px;
}
.react-datepicker-popper {
	z-index: 10 !important;
}


